body {
    margin: 0;
    background: #222;
}

#game {
    width: 100vw;
    height: 50%;
    aspect-ratio: 16 / 9;
    background: pink;
    position:relative;
    overflow: hidden;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    text-align: center;
}
#player {
    position: absolute;
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    left: 50%;
    top: 51%;
}
#cat {
    image-rendering: pixelated;
    position: absolute;
    left: 52%;
    top: 51%;
}
#controls {
  margin-top: 15px;
  text-align: center;
}

#controls button {
  width: 55px;
  height: 55px;
  margin: 3px;
  font-size: 22px;
  touch-action: none;
}
